@import-normalize;

:root {
  --bg-color: #023047;
  --text-color: #f3f3f3;
  --primary-color: #ffb703;
  --primary-accent: #fb8500;
  --second-bg: #8ecae6;
  --accent-color: #219ebc;
}

body {
  background-color: var(--second-bg);
}

.App-Header {
  text-align: center;
}

.App {
  display: flex;
  flex-flow: column;
  max-width: 50vw;
  margin: auto;
  color: var(--text-color);
  background-color: var(--bg-color);
  height: 100vh;
}

.App-Nav {
  display: flex;
  gap: .5rem;
  padding: 0 .5rem;
}

.App-Nav .Link {
  color: var(--accent-color);
}

.App-Body {
  display: flex;
  flex: 1;
  flex-flow: column;
  padding: .5rem;
  gap: 1rem;
}

form {
  border-radius: .2rem;
  background: var(--text-color);
  color: black;
}

form label {
  display: block;
  padding: .5rem;
}

form label:has(+ input:focus) {
  display: none;
}

form input[type="text"] {
  border: none;
  position: absolute;
  transform: translate(-999px, 0);
  padding: .5rem;
  box-shadow: none;
  background: none;
  color: black;
  display: block;
  outline: none;
  font-size: 1rem;
}

form input[type="text"]:focus {
  position: relative;
  transform: translate(0, 0);
}

form input[type="text"]:focus ~ label {
  display: none;
}

.TaskList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  gap: .5rem;
  justify-content: center;
}

.Task {
  display: flex;
  position: relative;
  height: 1.5rem;
  justify-content: space-between;
  background: var(--text-color);
  color: black;
  padding: .5rem;
  align-items: center;
  border-radius: .2rem;
}
.Task.completed div {
  text-decoration: line-through;
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 2px;
}

.Task div {
  display: flex;
  gap: 1rem;
}

.BtnDeletTask {
  align-self: flex-end;
}